*{
    margin:0;
    padding:0;
    font-family:  Arial;
	box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style:normal;
}

body{
    background: black;
}
  /* leftsidemenu */
.leftsidemenu{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    position:relative;
}
.nav-bar {
    position:fixed;
    width:190px;
    height:100%;
    padding:20px 0;
    background: #22242a;  
}

.nav-bar  ul li{
    color:white;
    padding-left:20px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:10px;  
}
.nav-bar  ul li .btn{
    clip-path:circle();
    font-size:20px;
}
.nav-bar  ul li .btn i{
    border-radius:100%;
    margin-right:5px; 
}
.nav-bar  ul li .btn .fas{
    width: 25px;
}
.nav-bar  ul li:hover{
    background:gray;
}
.nav-bar  ul li:hover .btn{
    color:#fff;
}
.nav-bar  p{
    color: #fff;
    margin-bottom: 10px;
    padding-left:10px;
    font-size: 13px;
}

/* header bar */
.straight {
    position: absloute;
    float:right;
    padding-right:30px;
    margin-right: 0px;
  
}
.straight img{
	width:70px;
    clip-path:circle();
    float:right;
   
}
.btn{
    list-style: none;
    margin-right: 5px;
    padding:5px 10px;
    font-size:30px;
    clip-path:circle();
}
.straight a:hover{
	box-shadow: 10px 10px 10px black;
 	background-color:gray;
}
.straight  i{
    width:30px;
    height:30px;
    /* padding-right:20px; */
     border-radius:50%; 
}
@media only screen and (max-width:600px){
    .straight{
        display:flex;     
    }
    .btn{
        font-size:30px;
        clip-path: none;    
    }
    .straight i{
        width:20px;
        height:20px;
        border-radius:25%;
    }
}
@media only screen and (max-width:960px){
    .straight{
        display:flex;      
       
    }  
}

/* right sider bar */
.r-bar{
    display: block;
     margin-right: 0%; 
    color:white;
}
.r-bar {
    position: relative;
    float:right;
    width:130px;
    height:100%;
    background-color:22242a ;
    padding:30px,0;
}
.r-bar  li{
   
    width: 130px;
    padding: 15px;
    color:white;
    margin-left:25px;
}
.r-bar h3{
    color:gray;
    text-transform:uppercase;
    margin-bottom:10px;
    
}
.act{
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.his{
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.r-bar ul li{
    padding: 10px;
    border-bottom:1px solid rgba(0,0,0,0.05);
    border-top:1px solid rgba(225,225,225,0.05);
}
.r-bar  ul li:hover{
    background: gray;
}

@media only screen and (max-width:600px){
    .r-bar{
        display:none;
    }
}

@media only screen and (max-width:960px){
    .r-bar{
        display:none;
    }
}

/* middle body part with images*/
.head{
    margin-left: 200px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.bi{
    margin-left:220px;
    display:flex;
}
.gallery{
    padding-left:10px;
}

.gallery img{
    width:230px;
    height:280px; 
    margin-right:10px;
    margin-top:5px;
    cursor:pointer;
    border-radius:10px;
    border: 1px solid #ccc;
}

.info {
    position:relative;
    top:-100px;
    color:white;
    text-align: center;
  }

  .head1{
    margin-left: 200px;
    margin-top: -30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
 @media screen and (max-width:600px){
    .bi{
        display:flex;
        flex-wrap:wrap; 
        flex-basis:100%;         
    }
  }
  @media screen and (max-width:960px){
    .bi{
        display:flex;
        flex-wrap:wrap; 
        flex-basis:100%;           
    }
  }