  *{
    margin:0;
    padding:0;
    font-family:  Arial;
	box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style:normal;
}

body{
    background: black;
}
.leftsidemenu{
    display: flex;
    flex-direction: column;
}
.nav-bar{
   
    position:relative;
    
}
.nav-bar {
    position:fixed;
    width:190px;
    height:100%;
    padding:20px 0;
    background: #22242a;
    transition: 0.5s;
    
}

.nav-bar  ul li{
    color:white;
    padding-left:20px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:10px;
   
}
.nav-bar  ul li .btn{
    clip-path:circle();
    font-size:20px;
}
.nav-bar  ul li .btn i{
    border-radius:100%;
    margin-right:5px;
    
}
.nav-bar  ul li .btn .fas{
    width: 25px;
}
.nav-bar  ul li:hover{
    background:gray;
}
.nav-bar  ul li:hover .btn{
    color:#fff;
}

.nav-bar  p{
    color: #fff;
    margin-bottom: 10px;
    padding-left:10px;
    font-size: 13px;
}
@media only screen and (max-width:600px){
    .nav-bar{
        width:80px;
        transition: 0.5s;
        overflow: hidden;
    }
}
@media only screen and (max-width:960px){
    .nav-bar{
        width:80px;
        transition: 0.5s;
        overflow: hidden;
    }
}

/* header bar */
.straight {
    position: absloute;
    float:right;
    padding-right:30px;
    margin-right: 0px;
  
}
@media only screen and (max-width:600px){
    .straight{
        display:flex;
        justify-content: center;
       
    }
}
@media only screen and (max-width:960px){
    .straight{
        display:flex;
        justify-content: center;
       
    }
}
.straight img{
	width:70px;
    clip-path:circle();
    float:right;
   
}
.btn{
    list-style: none;
    margin-right: 5px;
    padding:5px 10px;
    font-size:30px;
    clip-path:circle();
}
.straight a:hover{
	box-shadow: 10px 10px 10px black;
 	background-color:gray;
}
.straight  i{
    width:30px;
    height:30px;
    /* padding-right:20px; */
     border-radius:50%;
    
}

/* right sider bar */
.r-bar{
    display: block;
     margin-right: 0%; 
    color:white;
    
}
.r-bar {
    position: relative;
    float:right;
    width:130px;
    height:100%;
    background-color:22242a ;
    padding:30px,0;
}
@media only screen and (max-width:600px){
    .r-bar{
        display:none;
    }
}

@media only screen and (max-width:960px){
    .r-bar{
        display:none;
    }
}




.r-bar  li{
   
    width: 130px;
    padding: 15px;
    color:white;
    margin-left:25px;
}
.r-bar h3{
    color:gray;
    text-transform:uppercase;
    margin-bottom:10px;
    
}
.act{
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.his{
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.r-bar ul li{
    padding: 10px;
    border-bottom:1px solid rgba(0,0,0,0.05);
    border-top:1px solid rgba(225,225,225,0.05);
}
.r-bar  ul li:hover{
    background: gray;
}





/* middle body part with images*/
.head{
    margin-left: 200px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.xop-grid {
	padding: 2px;
	list-style: none;
	display: block;
	text-align: center;
    width: 100%;
  
}
@media screen and (max-width:600px){
   
    .xop-grid {
        display:flex;
        flex-wrap:wrap; 
        flex-basis:100%;
        text-align: center;
        justify-content: center;
        padding-left:340px;      
       align-items:center;
    }
   
   
    
}
@media screen and (min-width:960px){
    .xop-grid {
        padding-left:220px;
       
    }

    
}
    
    
.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	
}

.xop-grid li {
	width: 230px;
	height: 300px;
    display: inline-block;
    /* margin:20px;*/
    margin-right:10px;
    
}


.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    
}

.xop-box:hover {
	transform: scale(1.05); 
}
.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), 
    url(https://image.shutterstock.com/image-photo/charismatic-disc-jockey-turntable-dj-260nw-415922566.jpg);
   
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(https://us.123rf.com/450wm/bluebay/bluebay1503/bluebay150300117/37478255-dj-mixer-with-headphones-dj-party-background.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjnDmElMPPPlmnF_Hw-scn11oELvZguehLJQ&usqp=CAU);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(https://research.fb.com/wp-content/uploads/2018/05/music-hero2.jpg);
}


.xop-info h3 {
    position: absolute;
    top:180px;
    left:20px;
    color:black;
    padding-left: 2opx;
    padding-right: 20px;
    color: red;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	/* margin: 0 50px; */
	font-size: 14px;
    /* line-height:2; */
    margin: 20px;
    text-align: center;
    top:120px;
}   



  




  